/* Font */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Arial;
	padding: 10px 10px 10px 0px;
}


/* Navbar */

.nav {
	margin-top: 20px;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

.nav>li {
	position: relative;
	display: block;
}

.nav>li>a {
	position: relative;
	display: block;
	padding: 10px 15px;
}

.nav>li>a:hover,
.nav>li>a:focus {
	text-decoration: none;
	background-color: #eeeeee;
}

.nav-tabs {
	border-bottom: 1px solid #5d0400;
}

.nav-tabs>li {
	float: left;
	margin-bottom: -1px;
}

.nav-tabs>li>a {
	margin-right: 2px;
	line-height: 1.6875;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
}

.nav-tabs>li>a:hover {
	border-color: #e5e5e5 #e5e5e5 #ddd;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
	color: #5d0400;
	background-color: #ffffff;
	border: 1px solid #5d0400;
	border-bottom-color: transparent;
	cursor: default;
	font-size: 16px;
}

.nav-tabs.nav-justified {
	width: 100%;
	border-bottom: 0;
}

.nav-tabs.nav-justified>li {
	float: none;
}

.nav-tabs.nav-justified>li>a {
	text-align: center;
	margin-bottom: 5px;
}

.nav-tabs.nav-justified>.dropdown .dropdown-menu {
	top: auto;
	left: auto;
}

@media (min-width: 768px) {
	.nav-tabs.nav-justified>li {
		display: table-cell;
		width: 1%;
	}
	.nav-tabs.nav-justified>li>a {
		margin-bottom: 0;
	}
}

.nav-tabs.nav-justified>li>a {
	margin-right: 0;
	border-radius: 4px;
}

.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:hover,
.nav-tabs.nav-justified>.active>a:focus {
	border: 1px solid #ddd;
}

@media (min-width: 768px) {
	.nav-tabs.nav-justified>li>a {
		border-bottom: 1px solid #ddd;
		border-radius: 4px 4px 0 0;
	}
	.nav-tabs.nav-justified>.active>a,
	.nav-tabs.nav-justified>.active>a:hover,
	.nav-tabs.nav-justified>.active>a:focus {
		border-bottom-color: #fff;
	}
}


/* Tabs */

.tab-content>.tab-pane {
	display: none;
}

.tab-content>.active {
	display: block;
}

.nav-tabs .dropdown-menu {
	margin-top: -1px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}


/* Breadcrumb */

.breadcrumb {
	padding: 8px 15px;
	margin-bottom: 27px;
	list-style: none;
	background-color: #f5f5f5;
	border-radius: 4px;
}

.breadcrumb>li {
	display: inline-block;
}

.breadcrumb>li+li:before {
	content: "/\00a0";
	padding: 0 5px;
	color: #777777;
}

.breadcrumb>.active {
	color: #333333;
}


/* Container */

.container:before,
.container:after,
.nav:before,
.nav:after {
	content: " ";
	display: table;
}

.container:after,
.container-fluid:after,
.nav:after {
	clear: both;
}

.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}


/* content */

.content h2 {
	padding-top: 0px;
}

.ingredient {
	padding-left: 10px;
}

.color {
	color: #5fa022;
}

.color:hover {
	color: #5fa022;
}


/* product link */

.product-link {
	margin: 22px 0 5px 0;
	padding: 0;
	list-style: none;
}

@media (max-width: 1298px) {
	.product-link {
		display: none;
	}
}

.product-link li {
	overflow: hidden;
	white-space: nowrap;
	margin-right: 10px;
	display: inline-block;
	cursor: pointer;
	color: #333333;
}

.product-link li .icon {
	display: inline-block;
	vertical-align: middle;
	font-size: 24px;
	line-height: 24px;
}

.product-link li a {
	font-size: 28px;
	line-height: 32px;
	color: #333333;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
}

.product-link li a:hover {
	color: #5fa022;
}

.product-link li a span.text {
	display: inline-block;
	vertical-align: middle;
	padding: 0 5px;
	opacity: 0;
	max-width: 0;
	transition: max-width 500ms ease-out 100ms, opacity 500ms ease-out 100ms, color;
}

@media (max-width: 1199px) {
	.product-link li a {
		max-width: 150px;
		opacity: 1;
		text-align: center;
	}
}

.product-link li:hover {
	color: #5fa022;
}

.product-link li:hover span.text {
	color: #5fa022;
	overflow: hidden;
	opacity: 1;
	max-width: 150px;
	transition: max-width 500ms ease-out 100ms, opacity 500ms ease-out 100ms, color 200ms;
}


/* product-page */

.avatar_chef {
	margin-top: 8px;
	height: 60px;
	width: auto;
}

.product-info-outer {
	position: relative;
}

.product-info-outer #productPrevNext {
	position: relative;
	z-index: 100;
}

.product-info-outer #productPrevNext img {
	position: absolute;
	top: -110px;
	left: -20px;
	width: 80px;
	display: none;
}

.product-info-outer #productPrevNext .product-prev:hover,
.product-info-outer #productPrevNext .product-next:hover {
	text-decoration: none;
}

.product-info-outer #productPrevNext .product-prev:hover img,
.product-info-outer #productPrevNext .product-next:hover img {
	display: block;
}

.product-info-outer #productPrevNext .product-prev,
.product-info-outer #productPrevNext .product-next {
	display: block;
	height: 45px;
	width: 45px;
	cursor: pointer;
	position: absolute;
	top: -1000px;
	margin-top: -24.5px;
}

@media (max-width: 1200px) {
	.product-info-outer #productPrevNext img {
		top: auto;
		bottom: -110px;
		right: 20px;
		left: auto;
	}
	.product-info-outer #productPrevNext .product-prev {
		top: -60px !important;
		right: 70px !important;
		left: auto !important;
		margin-top: 0;
	}
	.product-info-outer #productPrevNext .product-next {
		top: -60px !important;
		right: 0 !important;
		left: auto !important;
		margin-top: 0;
	}
}

@media (max-width: 1333px) {
	.product-info-outer #productPrevNext .product-prev img {
		left: 18px;
	}
}

@media (max-width: 1333px) {
	.product-info-outer #productPrevNext .product-next img {
		left: -53px;
	}
}

.product-info-outer #productPrevNext .product-prev:hover:before,
.product-info-outer #productPrevNext .product-next:hover:before {
	color: #5fa022;
}

.product-info-outer #productPrevNext .product-prev:before,
.product-info-outer #productPrevNext .product-next:before {
	display: block;
	font-family: "Material Icons";
	font-size: 44px;
	line-height: 45px;
	color: #333333;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.product-info-outer #productPrevNext .product-prev {
	left: -50px;
}

.product-info-outer #productPrevNext .product-prev:before {
	content: "\e408";
}

.product-info-outer #productPrevNext .product-next {
	right: -50px;
}

.product-info-outer #productPrevNext .product-next:before {
	content: "\e409";
}

.product-main-image {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
}

.product-main-image img {
	width: 100%;
	box-shadow: 2px 2px 3px #ddd;
	padding: 4px;
	background: #fff;
	border: 1px solid #e6e4e4;
}

.product-info__title h2 {
	padding-bottom: 0;
	margin-top: -12px;
	text-transform: uppercase;
	font-weight: 500;
}

.product-info__price {
	font-size: 2.5em;
	color: #5fa022;
	text-align: left !important;
}

.product-info__description__brand {
	float: left;
	margin: 0 15px 0 0;
}

.product-info__description__text {
	overflow: hidden;
	font-weight: 300;
}

.product-info__review {
	font-weight: 300;
}

.product-info__review .rating {
	display: inline-block;
	padding-right: 20px;
}

.product-info__review>a {
	display: inline-block;
	padding-right: 20px;
	color: #333333;
}

.product-info__review>a:last-child {
	color: #5fa022;
}

.product-info__review>a:hover {
	color: #5fa022;
}

.product-info__sku {
	font-weight: 300;
	margin-top: -4px;
}

@media (max-width: 991px) {
	.product-info__sku {
		float: none !important;
		margin-bottom: 15px;
	}
}

.product-info__availability {
	font-weight: 300;
	margin-top: -4px;
}

@media (min-width: 1770px) {
	.product-info__availability {
		float: left !important;
		padding-left: 25px;
	}
}

@media (max-width: 991px) {
	.product-info__availability {
		float: none !important;
	}
}

.product-info__title {
	margin: 8px 0 20px;
}

.product-info__price {
	margin: 0 0 18px;
}

.product-info__divider {
	border-bottom: 1px solid #e5e5e5;
	height: 5px;
	margin-bottom: 20px;
}

.product-info__description {
	padding: 0 0 18px;
}


/****************************************
* breadcrumbs  
*****************************************/

.breadcrumbs {
	margin-bottom: 14px;
	padding: 10px 0 10px;
}

@media (max-width: 767px) {
	.breadcrumbs {
		margin-bottom: 0;
	}
}

@media (min-width: 1025px) {
	.breadcrumbs .container {
		border-top: 1px solid #e5e5e5;
	}
}

.breadcrumbs .breadcrumb.breadcrumb--ys {
	display: inline-block;
	background-color: transparent;
	padding: 15px 0 10px;
	border-radius: 0;
	margin: 0;
	font-size: 1em;
	line-height: 1.583em;
}

.breadcrumbs .breadcrumb.breadcrumb--ys>li.home-link a {
	display: inline-block;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background-color: #f5f5f5;
	color: #5fa022;
	font-size: 15px;
	line-height: 26px;
	text-align: center;
}

.breadcrumbs .breadcrumb.breadcrumb--ys>li.home-link a:hover {
	background: #5fa022;
	color: #fff;
}

.breadcrumbs .breadcrumb.breadcrumb--ys>li {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	padding: 0 10px;
}

.breadcrumbs .breadcrumb.breadcrumb--ys>li a {
	-webkit-transition: all 300ms linear 0s;
	-moz-transition: all 300ms linear 0s;
	-ms-transition: all 300ms linear 0s;
	-o-transition: all 300ms linear 0s;
	transition: all 300ms linear 0s;
}

.breadcrumbs .breadcrumb.breadcrumb--ys>li a:hover {
	text-decoration: none;
	color: #5fa022;
}

.breadcrumbs .breadcrumb.breadcrumb--ys>li:first-child {
	padding-left: 0;
}

.breadcrumbs .breadcrumb.breadcrumb--ys>li+li:before {
	display: block;
	position: absolute;
	left: 0;
	width: 1px;
	height: 19px;
	border-left: 1px solid #e5e5e5;
	content: "";
}

.breadcrumbs .breadcrumb.breadcrumb--ys>.active {
	color: #333333;
}


/****************************************
* end breadcrumbs  
*****************************************/

input {
	-webkit-box-shadow: inset none;
	-moz-box-shadow: inset none;
	box-shadow: inset none;
}

.input--ys {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 7px 12px;
	font-size: 1em;
	line-height: 1.4em;
	height: 40px;
	margin-bottom: 10px;
	background: #ffffff;
	border: 1px solid #e5e5e5;
	border-radius: 0;
	-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	-moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.input--ys:hover,
.input--ys:focus,
.input--ys.focus {
	box-shadow: none;
	outline: none;
}

.input--ys--full {
	width: 100%;
}

.textarea--ys {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 7px 12px;
	font-size: 1em;
	line-height: 1.4em;
	height: 40px;
	margin-bottom: 10px;
	background: #ffffff;
	border: 1px solid #e5e5e5;
	border-radius: 0;
	-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	-moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	min-height: 140px;
	height: auto;
}

.textarea--ys--full {
	width: 100%;
}

.tab-content--ys>.tab-pane {
	display: none;
	background-color: #ffffff;
	padding: 30px 40px;
	border-width: 1px;
	border-style: solid;
	border-color: #5d0400;
	border-top: 0;
	font-weight: 300;
}

.tab-content--ys>.active {
	display: block;
}

.rating2 {
	color: #ac2925;
	font-size: 28px;
}

.rating-text {
	margin-top: -7px;
}

.btn--ys {
	background: #5fa022;
	color: #ffffff;
}

.required {
	color: #ac2925;
}

li {
	margin-top: 10px;
}
